body{
  background-color: #4e5860;
text-align: center;
color: black;
margin: 0;
padding: 0;
font-family: 'Roboto Condensed', sans-serif;

}
.container{
  margin: 3% auto;
  width: 100%;
  height: 100%;
}

/*.wi{
  font-size: 150px;
}*/
#topwrap{
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
  border-radius: 5%;
  background-color: #f1f8f9;
}

.img-wrap{
  font-size: 150px;
  padding-top: 10%;

}
.main-info{
  display: flex;
  margin-bottom: 5%;
}
.left{
  width: 35%;
  font-size: 2.7rem;
  align-self: flex-end;
  opacity: 0.6;
  padding-bottom: 5%;
  padding-top: 5%;
}
.center{
  font-size:20px;
  width: 50%;
  opacity: 0.6;
  padding-bottom: 5%;
  padding-top: 5%;
}
#weatehr-info{
  font-size: 30px;
  font-weight:200;
  letter-spacing: 3px;
  text-transform: capitalize;

}
.center span{
  display: block;
}
#name{
  letter-spacing: 3px;

}
.right{
  color: white;
  font-weight: bold;
  padding-bottom: 5%;
  padding-top: 5%;


  align-self: center;
}
.right span{
  display: block;
}
.extra-info{
  height: 150px;
  flex-wrap: wrap;
  background-color: #2e3335;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}
.humidity{
  width: 33%;
}
.wind{
  width: 33%;
}
.typeOfWeatehr{
  width: 33%;
}
.next-day-wrap{
  width: 100%;
}
.hide{
  display: none;
}
.blue{
  background-color: #08c;
}

@media (max-width: 320px) {

    body{
      font-size: 10px;
    }


  }
