body {
  background-color: #4e5860;
  text-align: center;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;

}

.container {
  margin: 3% auto;
  width: 100%;
  height: 100%;
}

/*.wi{
  font-size: 150px;
}*/

#topwrap {
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
  border-radius: 5%;
  background-color: #f1f8f9;
}

.img-wrap {
  padding-top: 50px;
  font-size: 150px;
  margin-bottom: 5px;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
  justify-content: space-between;
}

.left {
  width: 30%;
  font-size: 1.7rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  opacity: 0.6;

}

.center {
  font-size: 1.5rem;
  width: 50%;
  opacity: 0.6;

}

#weatehr-info {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing:1px;
  text-transform: capitalize;
}

.center span {
  display: block;
}

#name {
  letter-spacing: 3px;
}

.right {
  border-radius: 4px;
  padding: 10px;
  font-size: 0.8rem;
  width: 17%;
  color: white;
  font-weight: bold;

  -ms-flex-item-align: center;
  align-self: center;
}

.right span {
  display: block;

}
@media(min-width:425px){
  .right{
    font-size: 1.2rem;
  }
  .left{
    font-size: 2.5rem;
  }
  #weatehr-info {
    font-size: 1.6rem;
  }
  .center{
    font-size: 1.7rem;
  }
}
.extra-info {
  height: 150px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #2e3335;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.humidity {
  width: 33%;
}

.wind {
  width: 33%;
}

.typeOfWeatehr {
  width: 33%;
}

.next-day-wrap {
  width: 100%;
}

.hide {
  display: none;
}

.blue {
  background-color: #08c;
}
